<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<form method= "POST"
action= "/survey">


<p><h2>Would you like a restaurant in Boulder or Denver?</p></h2>
 <select name= "city">
 <option value="Boulder">Boulder</option>
 <option value="Denver">Denver</option>
</select>
 <!-- <form method="get" action="/page2">
   <button type="submit">Boulder</button>
</form>
 <form method="get" action="/page2">
   <button type="submit">Denver</button>
</form> -->

<p><h2>Do you have any dietary restrictions?</p></h2>
 <!-- <form method="get" action="/page2">
   <button type="submit">Vegan</button>
</form>
 <form method="get" action="/page2">
   <button type="submit">Vegetarian</button>
</form>
 <form method="get" action="/page2">
   <button type="submit">Gluten Free</button>
</form>
 <form method="get" action="/page2">
   <button type="submit">Dairy Free</button>
</form>
 <form method="get" action="/page2">
   <button type="submit">None</button>
</form> -->
<select name= "dietary_restrctions">
 <option value="Vegan">Vegan</option>
 <option value="Vegetarian">Vegetarian</option>
 <option value="Gluten Free">Gluten Free</option>
 <option value="Dairy Free">Dairy Free</option>
 <option value="None">None</option>
</select>



<p><h2>What price would you like?</p></h2>
<p><h3>($= cheap, $$= meduim, $$$= expensive)</p></h3>
 <!-- <form method="get" action="/page2">
   <button type="submit">$</button>
</form>
 <form method="get" action="/page2">
   <button type="submit">$$</button>
</form>
 <form method="get" action="/page2">
   <button type="submit">$$$</button> -->

<select name= "price">
 <option value="$">$</option>
 <option value="$$">$$</option>
 <option value="$$$">$$$</option>
</select>
<br>
<input type= "Submit">
</br>
</form>


</body>
</html>


